<ion-app>
  <ion-menu contentId="menu">
    <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button [routerLink]="['/home']">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/gender']">
        <ion-label>Gender</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/nationalities']">
        <ion-label>Nationalities</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GraphQL Playground</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="primary" mode="ios">
        <ion-title>By Brenda Chepkorir © 2022</ion-title>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-app>
